[submodule "tmux"]
	path = tmux
	url = https://github.com/seebi/tmux-colors-solarized
[submodule "terminal.app"]
	path = terminal.app
	url = https://github.com/tomislav/osx-terminal.app-colors-solarized
[submodule "vim"]
	path = vim
	url = https://github.com/altercation/vim-colors-solarized
